# Capstone Project:
# California Commuting Mode

## Creating DataFrame

In [1]:
# Importing pandas
import pandas as pd

In [2]:
# Loading the file
comm_df = pd.read_excel("california_commuting_mode.xlsx")

In [3]:
# Viewing the DataFrame
comm_df

,index,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,...,pop_mode,pop_total,percent,LL95CI_percent,UL95CI_percent,percent_se,percent_rse,CA_decile,CA_RR,version
0,0,42,Percent of residents aged 16 years and older m...,2000,1,AIAN,CA,6,California,NaN,...,2414.0,73560.0,3.281675,NaN,NaN,NaN,NaN,NaN,0.855733,2015-02-03
1,1,42,Percent of residents aged 16 years and older m...,2000,2,Asian,CA,6,California,NaN,...,42902.0,1634923.0,2.624099,NaN,NaN,NaN,NaN,NaN,0.684263,2015-02-03
2,2,42,Percent of residents aged 16 years and older m...,2000,3,AfricanAm,CA,6,California,NaN,...,21348.0,797818.0,2.675798,NaN,NaN,NaN,NaN,NaN,0.697744,2015-02-03
3,3,42,Percent of residents aged 16 years and older m...,2000,4,Latino,CA,6,California,NaN,...,75246.0,3865125.0,1.946793,NaN,NaN,NaN,NaN,NaN,0.507648,2015-02-03
4,4,42,Percent of residents aged 16 years and older m...,2000,5,NHOPI,CA,6,California,NaN,...,1088.0,42880.0,2.537313,NaN,NaN,NaN,NaN,NaN,0.661632,2015-02-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336233,336233,42,Percent of residents aged 16 years and older m...,2008-2010,9,Total,RE,14,Southern California,NaN,...,5842546.0,7891963.0,74.031594,73.849750,74.213438,0.092778,0.357272,NaN,1.015630,2015-02-03
336234,336234,42,Percent of residents aged 16 years and older m...,2008-2010,9,Total,RE,14,Southern California,NaN,...,938482.0,7891963.0,11.891617,11.752446,12.030788,0.071006,0.597108,NaN,1.015610,2015-02-03
336235,336235,42,Percent of residents aged 16 years and older m...,2008-2010,9,Total,RE,14,Southern California,NaN,...,6781028.0,7891963.0,85.923211,85.804936,86.041485,0.060344,0.428678,NaN,1.015627,2015-02-03
336236,336236,42,Percent of residents aged 16 years and older m...,2008-2010,9,Total,RE,14,Southern California,NaN,...,392184.0,7891963.0,4.969410,4.878338,5.060482,0.046466,0.935031,NaN,0.955588,2015-02-03
336237,336237,42,Percent of residents aged 16 years and older m...,2008-2010,9,Total,RE,14,Southern California,NaN,...,194862.0,7891963.0,2.469120,2.386250,2.551989,0.042280,1.712356,NaN,0.888450,2015-02-03

## Exploratory Data Analysis

### No. of Rows & Columns

In [4]:
# Number of Rows & Columns
comm_df.shape

(336238, 25)

### Columns & Datatypes

In [5]:
# Names of Columns
comm_df.columns

Index(['index', 'ind_id', 'ind_definition', 'reportyear', 'race_eth_code',
       'race_eth_name', 'geotype', 'geotypevalue', 'geoname', 'county_name',
       'county_fips', 'region_name', 'region_code', 'mode', 'mode_name',
       'pop_mode', 'pop_total', 'percent', 'LL95CI_percent', 'UL95CI_percent',
       'percent_se', 'percent_rse', 'CA_decile', 'CA_RR', 'version'],
      dtype='object')

In [6]:
# Datatype of each column
comm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336238 entries, 0 to 336237
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   index           336238 non-null  int64
 1   ind_id          336238 non-null  int64
 2   ind_definition  336238 non-null  object
 3   reportyear      336238 non-null  object
 4   race_eth_code   336238 non-null  int64
 5   race_eth_name   336238 non-null  object
 6   geotype         336238 non-null  object
 7   geotypevalue    336238 non-null  int64
 8   geoname         336238 non-null  object
 9   county_name     334138 non-null  object
 10  county_fips     334138 non-null  float64
 11  region_name     223300 non-null  object
 12  region_code     223300 non-null  float64
 13  mode            336238 non-null  object
 14  mode_name       336238 non-null  object
 15  pop_mode        161357 non-null  float64
 16  pop_total       161357 non-null  float64
 17  percent         161231 non-null  float64
 18  LL95CI_percent  89215 non-null   float64
 19  UL95CI_percent  89215 non-null   float64
 20  percent_se      89215 non-null   float64
 21  percent_rse     89364 non-null   float64
 22  CA_decile       7973 non-null    float64
 23  CA_RR           161231 non-null  float64
 24  version         336238 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(4), object(9)
memory usage: 64.1+ MB

### Nulls

In [7]:
# Percentage of nulls
comm_df.isna().sum()/comm_df.shape[0]*100

index              0.000000
ind_id             0.000000
ind_definition     0.000000
reportyear         0.000000
race_eth_code      0.000000
race_eth_name      0.000000
geotype            0.000000
geotypevalue       0.000000
geoname            0.000000
county_name        0.624558
county_fips        0.624558
region_name       33.588708
region_code       33.588708
mode               0.000000
mode_name          0.000000
pop_mode          52.011075
pop_total         52.011075
percent           52.048549
LL95CI_percent    73.466711
UL95CI_percent    73.466711
percent_se        73.466711
percent_rse       73.422397
CA_decile         97.628763
CA_RR             52.048549
version            0.000000
dtype: float64

In [8]:
comm_df.isna().sum()

index                  0
ind_id                 0
ind_definition         0
reportyear             0
race_eth_code          0
race_eth_name          0
geotype                0
geotypevalue           0
geoname                0
county_name         2100
county_fips         2100
region_name       112938
region_code       112938
mode                   0
mode_name              0
pop_mode          174881
pop_total         174881
percent           175007
LL95CI_percent    247023
UL95CI_percent    247023
percent_se        247023
percent_rse       246874
CA_decile         328265
CA_RR             175007
version                0
dtype: int64

### Unique Values in Columns

In [9]:
# reportyear:
comm_df.reportyear.unique()

array([2000, '2005-2007', '2006-2010', '2008-2010'], dtype=object)

In [10]:
# race_eth_code:
comm_df.race_eth_code.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
# race_eth_name:
comm_df.race_eth_name.unique()

array(['AIAN', 'Asian', 'AfricanAm', 'Latino', 'NHOPI', 'White',
       'Multiple', 'Other', 'Total'], dtype=object)

In [12]:
# geotype:
comm_df.geotype.unique()

array(['CA', 'CO', 'CT', 'PL', 'RE'], dtype=object)

In [13]:
# county_name
comm_df.county_name.unique()

array([nan, 'Alpine', 'Alameda', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Modoc', 'Mendocino',
       'Merced', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange', 'Placer',
       'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'Santa Barbara',
       'San Joaquin', 'San Luis Obispo', 'Shasta', 'San Mateo',
       'Santa Clara', 'Santa Cruz', 'Sierra', 'Siskiyou', 'Solano',
       'Sutter', 'Sonoma', 'Stanislaus', 'Tehama', 'Trinity', 'Tulare',
       'Tuolumne', 'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [14]:
# region_name
comm_df.region_name.unique()

array([nan, 'Central/Southeast Sierra', 'Bay Area', 'Butte',
       'Northern Sacramento Valley', 'North Coast', 'Sacramento Area',
       'San Joaquin Valley', 'Southern California', 'Northeast Sierra',
       'Monterey Bay', 'San Diego', 'Santa Barbara', 'San Luis Obispo',
       'Shasta'], dtype=object)

In [15]:
# mode
comm_df["mode"].unique()

array(['ATHOME', 'BICYCLE', 'CAR', 'CARPOOL', 'CARTOTAL', 'PUBLICTR',
       'WALK'], dtype=object)

In [16]:
# mode_name
comm_df.mode_name.unique()

array(['Worked at home', 'Bicycle', 'Car, Truck, or Van: Drove Alone',
       'Car, Truck, or Van: Carpooled', 'Car, Truck, or Van',
       'Public Transportation', 'Walked to work'], dtype=object)

###  Data Distribution

In [17]:
# reportyear
comm_df.reportyear.value_counts()/comm_df.shape[0]*100

reportyear
2000         46.677354
2006-2010    46.677354
2005-2007     3.322646
2008-2010     3.322646
Name: count, dtype: float64

In [19]:
# Most of the data falls in the timeperiod 2000, 2006-2010